:root {
    --color-dark-green: #394931; 
    --color-light-areia: #D5D0BA; 
    --color-card-white: #F7F3ED;
    --color-text-dark: #2B2B2B;
    --color-text-black: #222A21;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-light-areia);
}

.login-card {
    background-color: var(--color-card-white);
    padding: 100px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px; 
    text-align: center;
}

.header {
    margin-bottom: -20px;
    padding-bottom: 15px;
}

.logo-placeholder {
    width: 50px; 
    height: 50px;
    background: url('../images/logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.header h1 {
    font-size: 16px;
    color: var(--color-text-dark);
    margin: 0;
    font-weight: 600;
}

.separator-line {
    width: 100%; 
    height: 2px;
    background-color: var(--color-light-areia);
    margin: 15px auto 30px auto; 
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px; 
    color: var(--color-text-black); 
    font-weight: normal; 
    margin-bottom: 9px; 
}

.input-field-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-text-black);  
    border-radius: 6px;
    padding: 5px 10px; 
    width: 100%;
}

.input-field-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 7px 0;
    font-size: 1rem;
    background-color: transparent;
}

.input-icon {
    width: 20px;
    height: 17px;
    margin-left: 10px; 
    cursor: pointer; 
    vertical-align: middle; 
}

.input-icon:not(.toggle-password) {
    cursor: default;
}

.input-field-container input::placeholder {

    color: var(--color-light-areia); 
    font-size: 0.9rem; 
    font-weight: normal; 
}

.btn-entrar {
    width: 300px; 
    height: 48px;
    display: block; 
    margin: 20px auto 0 auto; 
    background-color: var(--color-dark-green);
    color: white; 
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
    transition: background-color 0.3s;
}

.btn-entrar:hover {
    background-color: #2e4636;
}